<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="socials text-center">
                    <ul>
                        <li><a href="https://www.facebook.com/prateek.patra.5"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/prateek-patra-b9a8a1177/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a [href]="_service.info.twitter" target="_blank"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                        <li><a [href]="_service.info.github" target="_blank"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                    </ul>
                  </div>
                <div class="copyright-box">
                    <p class="copyright">&copy; Copyright {{ year }} <strong>Prateek Portfolio </strong>. All Rights Reserved</p>
                    <div class="credits">
                        Designed by <a href="https://www.linkedin.com/in/prateek-smith-patra-76a3031b5/">Prateek Smith Patra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->